<h1 mat-dialog-title>Upload a file</h1>

<mat-dialog-content>
	<!--mat-form-field class="example-full-width">
		<input matInput type="file" placeholder="Choose File" (change)="onSelectFile($event)">
	</mat-form-field-->
	<mat-form-field floatPlaceholder="never">
		<input [hidden]="true" (change)="onSelectFile($event)" type="file" accept="all/*" #fileSelect>
		<input readonly matInput [(ngModel)]="filename" placeholder="Select file..."/>
		<button *ngIf="this.file" (click)="this.file = null; this.filename = null" matSuffix matTooltip="Remove selected file"
				[matTooltipPosition]="'above'" type="button" color="warn" mat-icon-button>
			<mat-icon>close</mat-icon>
		</button>
		<button matSuffix mat-icon-button (click)="fileSelect.click();"  matTooltip="Select a file" [matTooltipPosition]="'above'">
			<mat-icon>file_upload</mat-icon>
		</button>
	</mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
	<button mat-raised-button mat-dialog-close>Cancel</button>
	<button mat-raised-button [mat-dialog-close]="formData" color="primary">OK</button>
</mat-dialog-actions>
